/* Overall styling */

:root{
    /* Theme colors */
    --primary-color: rgb(253, 253, 255);
    --tangerine: rgb(255, 72, 0);
    --text-color: #232323;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Josefin Sans', 'Trebuchet MS', Georgia, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: var(--text-color);
}
body{
    background-color: var(--primary-color);
}
.loader{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1031;
    background-color: var(--primary-color);
}
.pre-loader{
    border: 0.3rem solid #f1f1f1;
    border-top: 0.3rem double var(--tangerine);
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: calc(50vh - 3rem);
    left: calc(50vw - 3rem);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
img{
    object-fit: cover;
    object-position: center center;
}
a{
    text-transform: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
}
a:hover{
    color: var(--tangerine);
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
}
.nav a:hover, .nav a.active{
    color: var(--tangerine) !important;
}
.stand-out {
    color: var(--tangerine);
    font-size: calc(1.6rem + 1vw);
    font-weight: 900;
    text-transform: capitalize;
}
.coloured-btn{
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    background-color: var(--tangerine);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    color: var(--primary-color);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.coloured-btn:hover{
    background-color: transparent;
    border: 1.3px solid var(--tangerine);
    color: var(--tangerine);
}
.coloured-btn:focus, .regular-btn:focus{
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    -ms-box-shadow: none ;
    -o-box-shadow: none ;
    box-shadow: none;
}
.regular-btn{
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    background-color: transparent;
    border-width: 1.1px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    border-color: var(--tangerine);
    color: var(--tangerine);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.regular-btn:hover{
    background-color: var(--tangerine);
    color: var(--primary-color);
}
.tangerine{
    color: var(--tangerine);
}
.cents{
    font-size: 0.7rem;
}
.product-description{
    max-width: 20rem;
    padding: 0.5rem;
}
.image-wrapper{
    position: relative;
}
.image-wrapper:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.product-img{
    position: absolute;
    width: 100%;
    height: 100%;
}
select#qty-select{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px ;
    background: none;
    width: 4rem;
}
select#qty-select:focus{
    -webkit-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -moz-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -ms-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -o-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    background: none;
    border-color: var(--tangerine);
}.index-banner{
    width: 100%;
    height: 100%;
    background: url("../assets/high-resolution-pepperoni-pizza.jpg") center center / cover no-repeat;
    overflow: hidden;
}
.index-banner-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0 ;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.index-banner-caption{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* end of overall styling */

/* navigation section */
.navbar{
    background-color: var(--primary-color);
}
#logo img{
    max-width: 7rem;
    max-height: 3rem;
    object-fit: contain; 
}
@media (max-width:310px){
    #logo img{
        max-width: 3.8rem;
        max-height: 1.8rem;  
    }
    .navbar-toggler{
        padding: 0.25rem 0 !important;
    }
    .navbar{
        padding: 0.5rem;
    }
}
.scrolled{
    -webkit-box-shadow: var(--text-color) 0px 0px 7px -4px ;
    -moz-box-shadow: var(--text-color) 0px 0px 7px -4px ;
    -ms-box-shadow: var(--text-color) 0px 0px 7px -4px ;
    -o-box-shadow: var(--text-color) 0px 0px 7px -4px ;
    box-shadow: var(--text-color) 0px 0px 7px -4px ;
}
.nav-link .fas, .fab{
    color:var(--tangerine);
}
.navbar-nav a{
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}
.navbar-nav a:hover{
    color: var(--tangerine);
}
.navbar-dark a.nav-link{
    color: var(--text-color) !important;
}
.navbar-dark li.active a, .navbar-dark a:hover{
    color: var(--tangerine) !important;
}
.navbar-toggler .navbar-toggler-icon{
    margin: 7px;
    display: block;
    background-color: var(--tangerine);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    width: 22px;
    height:1px;
}
#logo{
    color: var(--tangerine) !important;
}
a.reserve-call{
    width: 8rem;
}
#cart-responsive{
    display: none;
}
@media (max-width: 575px){
    #cart-responsive{
        display: block;
    }
}
@media (max-width: 310px){
    #cart-responsive span{
        font-size: 0.8rem;
    }
}
.cart-items:hover span{
    color: var(--tangerine);
}
/* end of navigation */

/* slider section styling */

#slider-carousel{
    width: 100%;
    height: 100vh;
}
#slider-carousel .item{
    height: 100vh;
    background: no-repeat center center;
    background-size: cover;
}
#slider-carousel .item img{
    height: 100vh;
    width: 100%;
}
.slider .item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));  
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.slide-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.slide-caption{
    padding: 0 2%;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    height: auto ;
    max-width: 24rem;
}
.slide-caption img{
    width: 5rem;
    height: 5rem;
    object-fit: contain;   
}
.landing-stand-out{
    color: var(--tangerine);
    font-size: 6rem;
    font-weight: 700;
    font-stretch: 2rem;
    text-transform: capitalize;
}
@media(max-width:430px){
    .landing-stand-out{
        font-size: 5rem;
        line-height: 10px;
    }
}
@media(max-width:335px){
    .landing-stand-out{
        font-size: 4rem;
        line-height: 5px;
    }
}
@media(max-width:275px){
    .landing-stand-out{
        font-size: 3rem;
        line-height: 0;
    }
}
.slide-caption p{
    color: #fff;
}
.title-text{
    font-size: 2.3rem;
    color: var(--text-color);
}
.call-out{
    font-size: 2rem;
    color: var(--tangerine);
    font-weight: 900;
}
.menu-btn{
    width: 10.5rem;
}
/* slider section styling end*/

/* offers-landing section */
.offers-landing{
    padding: 8rem 0rem 1rem;
}
.split{
    background-color: var(--tangerine);
    width: 100%;
    height: 11.5rem;
    position: absolute;
    top: 33%;
}
@media (max-width: 992px){
    .offers-landing p.sub-description{
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 15ch;
    }
}
.landing-offer-product{
    max-width: 23rem;
}
#landing-offers-carousel .owl-dots{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 23%;
    right:2%;
}
#landing-offers-carousel .owl-dot span{
    background: none !important;
    border-color: var(--primary-color) !important;
    border-width: 1.3px !important;
    border: solid;
}
#landing-offers-carousel .owl-dot span:hover, #landing-offers-carousel button.active span{
    background: var(--primary-color) !important;
}
#landing-offers-carousel .owl-nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    position: absolute;
    left: -100%;
    top: 60%
}
#landing-offers-carousel button.owl-prev, #landing-offers-carousel button.owl-next{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    background: var(--tangerine);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}
#landing-offers-carousel button.owl-prev span, #landing-offers-carousel button.owl-next span{
    font-size: 1.2rem;
    color: #fff;
}
@media (min-width:768px) and (max-width:992px){
    #landing-offers-carousel .owl-dots{
        right: -7%;
    }
}
@media (max-width:768px){
    .split{
        height: 11.5rem;
        top: 40%;
    }
    #landing-offers-carousel{
        margin-top: 3rem;
    }
    #landing-offers-carousel .owl-nav{
        left: 42%;
        top: 90%
    }
}
@media (max-width:500px){
    #landing-offers-carousel .owl-dots{
        display: none;
    }
}
@media(min-width: 320px) and (max-width:370px){
    .split{
        top: 36%;
    }
}
@media(max-width: 320px){
    .split{
        display: none;
    }
}
/* end of offers landing styling */

/* action section styling */
.action{
    padding: 5rem 0.5rem 5rem;
}
.action img{
    object-position: initial;
    width: 13rem;
    height: 13rem;
}
@media (max-width:860px){
    .action img{
        width: 11.5rem;
        height: 11.5rem;
    }
}
@media (max-width:576px){
    .action img{
        width: 10rem;
        height: 10rem;
    }
}
@media (max-width:350px){
    .action img{
        width: 8rem;
        height: 8rem;
    }
}
@media (max-width:280px){
    .action img{
        width: 6.5rem;
        height: 6.5rem;
    }
}
@media (max-width:768px){
    .action p{
        text-align: center;
    }
}
#img-1{
    -webkit-border-radius: 200px 0 0 0;
    -moz-border-radius: 200px 0 0 0;
    -ms-border-radius: 200px 0 0 0;
    -o-border-radius: 200px 0 0 0;
    border-radius: 200px 0 0 0;
}
#img-2{
    -webkit-border-radius: 0 200px 0 0;
    -moz-border-radius: 0 200px 0 0;
    -ms-border-radius: 0 200px 0 0;
    -o-border-radius: 0 200px 0 0;
    border-radius: 0 200px 0 0;
}
#img-3{
    -webkit-border-radius: 0 0 0 200px;
    -moz-border-radius: 0 0 0 200px;
    -ms-border-radius: 0 0 0 200px;
    -o-border-radius: 0 0 0 200px;
    border-radius: 0 0 0 200px;
}
#img-4{
    -webkit-border-radius: 0 0 200px 0;
    -moz-border-radius: 0 0 200px 0;
    -ms-border-radius: 0 0 200px 0;
    -o-border-radius: 0 0 200px 0;
    border-radius: 0 0 200px 0;
}
#call-to-action{
    width: 13rem;
}
/* action section styling end*/

/* offers section styling */
.offers{
    padding: 5rem 0 0;
    position: relative;
}
.offers{
    padding: 2rem 0;
}
.offer-tag{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: var(--tangerine);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 62%;
    z-index: 1;
}
@media(min-width: 500px) and (max-width: 660px){
    .offer-tag{
        left: 57.5%;
    }
}
.offer-tag span{
    color: white;
    line-height: 1.2rem;
}
.off{
    font-size: 1.4rem;
    font-weight: 900;
}
.offer-product{
    max-width: 16rem;
}
.offer-description{
    height: 15rem;
    max-width: 20rem;
    padding: 0.5rem;
}
.offer-description span{
    color: var(--tangerine);
}
.offers a{
    color: var(--tangerine);
}
.owl-dot span:hover, .owl-dots button.active span{
    background: var(--tangerine) !important;
}
#blog-2 .offer-description span{
    color: var(--text-color);
}
/* end of offers section styling */

/* cuisine styling */
.cuisine{
    padding: 8rem 5rem;
}
@media(max-width:968px){
    .cuisine{
        padding: 4rem 3rem;
    }
}
.cuisine img{
    width: 14rem;
    height: 14rem;
}
@media (max-width:992px){
    .cuisine img{
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -ms-border-radius: 100% !important;
    -o-border-radius: 100% !important;
    border-radius: 100% !important;
    }
}
.cuisine a{
    color: var(--tangerine);
}
@media (max-width:576px){
    .cuisine img{
        width: 10rem;
        height: 10rem;
    }
    .cuisine{
        padding: 4rem 1rem;
    }
}
@media (max-width:968px){
    .cuisine .col-lg-6{
        margin-bottom: 4rem;
    }
}
.date-tag{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: var(--tangerine);
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    left: 62%;
    z-index: 1;
}
@media(min-width: 500px) and (max-width: 660px){
    .date-tag{
        left: 57.5%;
    }
}
.date-tag span{
    color: white;
    font-size: 0.75rem;
    line-height: 1.05rem;
}
#month{
    font-size: 1rem;
    font-weight: 900;
}
/* end of cuisine styling */

/* weekly offers styling */
.terrific-tuesday{
    padding: 4rem 1.5rem;
}
.offer-img-wrapper{
    max-width: 26rem;
}
.sumptuous-thursday{
    padding: 4rem 0rem;
}
@media (max-width: 768px){
    .offer-img-wrapper{
        margin: 0 auto;
    }
}
.offer-slash{
    background-color: var(--tangerine);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    width: 6.2rem;
    height: 6.2rem;
    position: absolute;
    top: 5%;
}
.terrific-tuesday .offer-slash{
    left: 53%;
}
.sumptuous-thursday .offer-slash{
    left: 80%;
}
.offer-slash span{
    color: var(--primary-color);
    line-height: 1rem;
}
.offer-slash .weekly-price{
    line-height: 2rem;
}
@media (max-width:1058px){
    .terrific-tuesday .offer-slash{
        left: 66%;
    }
    .sumptuous-thursday .offer-slash{
        left: 74%;
    }
}
@media (max-width:992px){
    .terrific-tuesday .offer-slash{
        left: 72%;
    }
}
@media (max-width:850px){
    .sumptuous-thursday img{
        margin-bottom: 3rem;
    }
    .terrific-tuesday .offer-slash{
        left: 69%;
    }
    .sumptuous-thursday .offer-slash{
        left: 69%;
    }
}
@media (max-width:576px){
    .sumptuous-thursday .offer-slash{
        left: 68%;
    }
}
@media (max-width:510px){
    .terrific-tuesday .offer-slash{
        left: 72%;
    }
    .sumptuous-thursday .offer-slash{
        left: 69%;
    }
}
@media (max-width:310px){
    .terrific-tuesday .offer-slash{
        left: 68%;
        top: 0%;
    }
    .sumptuous-thursday .offer-slash{
        left: 67%;
        top: 0%;
    }
    .offer-slash span{
        font-size: calc(0.7rem + 1vw);
        line-height: calc(0.7rem + 1vw);
    }
    .offer-slash{
        width: 5rem;
        height: 5rem;
    }
}
/* end of weekly offers styling */

/* menu section styling */
.menu{
    overflow: hidden;
    padding: 6rem 2.5rem 3rem;
}
@media (max-width: 576px){
    .menu{
        padding: 5rem 1rem 2rem;
    }
}
.nav a{
    color: var(--text-color);
}
.menu .nav a:hover, .menu .nav a.active, .fullmenu .nav a:hover, .fullmenu .nav a.active{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 2);
    -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 2);
    -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 2);
    -o-transition: cubic-bezier(0.075, 0.82, 0.165, 2);
    transition: cubic-bezier(0.075, 0.82, 0.165, 2);
}
.menu-img{
    max-width: 13rem;
}
/* end of menu styling */

/* meal of the day styling */
.meal{
    padding: 3rem 0rem;
}
.days-meal{
    -webkit-border-radius: 300px 300px 0 0;
    -moz-border-radius: 300px 300px 0 0;
    -ms-border-radius: 300px 300px 0 0;
    -o-border-radius: 300px 300px 0 0;
    border-radius: 300px 300px 0 0 ;
    height: 22rem;
    width: 38rem;
}
@media (max-width: 768px){
    .days-meal{
        height: 17rem;
        width: 30rem;
    }
}
@media (max-width: 576px){
    .days-meal{
        max-height: 12rem;
        max-width: 24rem;
    }
    .meal-description div{
        width: 2.7rem;
    }
}
@media (max-width: 400px){
    .days-meal{
        max-height: 12rem;
        max-width: 12rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }
}
.meal-description .para-1{
    text-align: right;
}
.para-1, .para-2{
    padding: 2rem 2rem ;
}
@media (min-width: 960px){
    .para-1{
        padding: 2rem 1.5rem 0rem 8rem !important;
    }
    .para-2{
        padding: 2rem 8rem 0rem 1.5rem !important;
    }
}
.meal-description div{
    background-color: var(--tangerine);
    -webkit-flex-basis: 2.7rem;
    -moz-flex-basis: 2.7rem;
    -ms-flex-basis: 2.7rem;
    -o-flex-basis: 2.7rem;
    flex-basis: 2.7rem;
    height: 2.7rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    -ms-box-shadow: none ;
    -o-box-shadow: none ;
    box-shadow: none;
    border: none;
}
.meal-description div:hover{
    cursor: pointer;
}
.meal-description i{
    color: #fff;
}
/* end of meal of the day styling */

/* Reserve Table section styling */
.reservation{
    padding: 3rem 0.5rem;
}
.reserve form {
    width: 80%;
    padding: 3rem auto;
}
.reserve input{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    background: none;
}
@media(min-width: 1059px){
    .reserve form{
        padding: 3rem 6rem;
    }
}
.reserve input:hover, .reserve input:focus{
    -webkit-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -moz-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -ms-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -o-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    background: none;
    border-color: var(--tangerine);
}
.reserve-btn{
    width: 12rem;
}
/* End of reserve section styling */

/* app section styling */
.app{
    margin: 3rem 0;
    padding: 2rem 0;
}
.app #app-btn{
    width: 9.5rem;
}
.app i{
    color: var(--tangerine);
}
#app-body{
    background-color: var(--tangerine);
    width: 100%;
    margin: 0;
    min-height: 18rem;
}
@media (min-width: 992px){
    #app-body{
        padding: 0 10rem;
    }
}
@media (min-width: 768px){
    #app-body{
        padding: 0 6rem;
    }
}
@media (max-width: 768px){
    #app-body{
        padding: 2.5rem 0.5rem;
    }
}
.app p{
    color: var(--primary-color);
}
/* end of app section styling */

/* Testimonials section styling */
.testimonials{
    padding: 4rem 0;
}
.lower-split{
    background-color: var(--tangerine);
}
.testimonials .item img{
    width: 6.5rem;
    height: 6.5rem;
}
#clients-carousel{
    position: relative;
    top: -4rem;
}
#clients-carousel .item{
    padding: 1rem 4rem;
    color: #fff;
}
@media (max-width:576px){
    #clients-carousel .item{
        padding: 1rem 1rem;
    }
}
#clients-carousel .owl-dot span{
    background: none !important;
    border-color: var(--primary-color) !important;
    border-width: 1.3px !important;
    border: solid;
}
#clients-carousel .owl-dot span:hover, #clients-carousel button.active span{
    background: var(--primary-color) !important;
}
.testimonials i{
    position: absolute;
    opacity: 0.3;
    top: 9rem;
    color: #fff;
    z-index: -1;
}
blockquote{
    color: #fff;
}
.testimonials .owl-carousel .owl-item.active.center{
    z-index: 999;
    position: relative;
    top: -1rem;
}
.testimonials .owl-carousel .owl-item.active.center .item img{
    height: 9.2rem;
    width: 9.2rem;
    -webkit-transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    -ms-transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    -o-transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}
.testimonials .owl-carousel .owl-item.active.center .item i{
    top: 11.5rem;
}
.testimonials .owl-carousel .owl-item.active.center .item blockquote{
    font-size: 1.1rem;
    -webkit-transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    -ms-transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    -o-transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}
/* Testimonials section end */

/* locations styling */
.location{
    padding: 3rem 1rem;
    overflow: hidden;
}
.branches div{
    -webkit-flex: 1 0 25%;
    -moz-flex: 1 0 25%;
    -ms-flex: 1 0 25%;
    -o-flex: 1 0 25%;
    flex: 1 0 25%;
    margin: 0.8rem 1rem;
}
@media(max-width: 320px){
    .branches div{
        -webkit-flex: 1 0 35%;
        -moz-flex: 1 0 35%;
        -ms-flex: 1 0 35%;
        -o-flex: 1 0 35%;
        flex: 1 0 35%;
        height: auto;
        margin: 0.2rem 0.5rem;
    }
}
.branches div img{
    max-width: 5.2rem;
    max-height: 3.2rem;
    object-fit: contain;   
}
.branches img:hover{
    cursor: pointer;
}
.branches img{
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
}
.branches img:hover, .branches div.active img{
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(0);
}
.capsule{
    width: 25rem;
    height: 40rem;
}
.restaurant-img{
    -webkit-border-radius: 200px 200px 0 0;
    -moz-border-radius: 200px 200px 0 0;
    -ms-border-radius: 200px 200px 0 0;
    -o-border-radius: 200px 200px 0 0;
    border-radius: 200px 200px 0 0;
    border: 0;
}
#iframe-wrapper{
    -webkit-border-radius: 0 0 200px 200px;
    -moz-border-radius: 0 0 200px 200px;
    -ms-border-radius: 0 0 200px 200px;
    -o-border-radius: 0 0 200px 200px;
    border-radius:0 0 200px 200px;
    position: relative;
    border: 0;  
    width:25rem;
    height:20.5rem;
    overflow:hidden;
    z-index:10;
}
#iframe-wrapper iframe{
    position:absolute;
    width:27rem;
    height:23rem;
    z-index:9;
}
@media (min-width: 0px) and (max-width: 320px){
    #iframe-wrapper{  
        width:14.5rem;
        height:12.5rem;
    }
    .capsule{
        width: 14.5rem;
        height: 25rem;
    }
    #iframe-wrapper iframe{
        width:15.5rem;
        height:13.5rem;
    }
}
@media (min-width: 320px) and (max-width: 576px){
    #iframe-wrapper{  
        width:18rem;
        height:16.5rem;
    }
    .capsule{
        width: 18rem;
        height: 33rem;
    }
    #iframe-wrapper iframe{
        width:19.5rem;
        height:17.5rem;
    }
}
@media (min-width: 576px) and (max-width: 820px){
    #iframe-wrapper{  
        width:20rem;
        height:16.5rem;
    }
    .capsule{
        width: 20rem;
        height: 33rem;
    }
    #iframe-wrapper iframe{
        width:23rem;
        height:18.5rem;
    }
}
@media (min-width: 820px) and (max-width: 992px){
    #iframe-wrapper{  
        width:22rem;
        height:18.5rem;
    }
    .capsule{
        width: 22rem;
        height: 37rem;
    }
}
/* end of locations styling */

/* operation styling */
.operation{
    padding: 4rem 0;
    overflow: hidden;
}
/* end of operation styling */

/* footer section styling */
.footer-section{
    padding: 1rem;
    background-color: var(--tangerine);
    min-height: 5rem;
    overflow: hidden;
    padding: auto 1rem;
}
.footer-section  div.socials{
    height: 1.8rem;
    width: 1.8rem;
    background-color: var(--primary-color);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
@media (max-width:768px){
    div.socials, .contact{
        margin-bottom: 1rem;
    }
}
.footer-section span{
    color: #fff;
    font-size: 0.9rem;
}
/* end of footer section styling */


/* single pages styling */
.banner{
    width: 100%;
    height: 24rem;
    background: url("../assets/high-resolution-pepperoni-pizza.jpg") center center / cover no-repeat;
    overflow: hidden;
}
.banner-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 24rem;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.banner-caption{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 24rem;
}
.banner-caption h4{
    line-height: 2.5rem;
}

/* fullmenu section styling */
.fullmenu{
    padding: 5rem 0;
    overflow: hidden;
}
.fullmenu-img{
    max-width: 18rem;
}
.regular-btn:hover > .fas{
    color: var(--primary-color);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.meal-text{
    padding: 0.5rem 5rem;
}
@media (min-width:900px){
    .meals .meal{
        -webkit-flex: 1 1 30%;
        -moz-flex: 1 1 30%;
        -ms-flex: 1 1 30%;
        -o-flex: 1 1 30%;
        flex: 1 1 30%;
    }
}
@media (max-width:576px){
    .meal-text{
        padding: 0.5rem 0.5rem;
    }
}
@media (min-width:576px) and (max-width:768px){
    .meal-text{
        padding: 0.5rem 8rem;
    }
}
@media (min-width:768px) and (max-width:900px){
    .meals .meal{
        -webkit-flex: 1 1 45%;
        -moz-flex: 1 1 45%;
        -ms-flex: 1 1 45%;
        -o-flex: 1 1 45%;
        flex: 1 1 45%;
    }
    .meal-text{
        padding: 0.5rem 5rem;
    }
}
.meal-text span{
    color: var(--tangerine);
}
.nav-btn{
    width: 2rem;
    height: 2rem;
}
.nav-btn:hover span{
    color: var(--tangerine) !important;
}
/* pizza cuisines styling*/

.pizza-cuisines{
    padding: 5rem 0;
    overflow: hidden;
}
.gallery-image img{
    width: 100%;
    height: 100%;
}
.pizza-cuisines .row{
    padding: 2.5rem 0;
}
@media (max-width:768px){
    .gallery div.gallery-image{
        -webkit-flex: 1 1 40%;
        -moz-flex: 1 1 40%;
        -ms-flex: 1 1 40%;
        -o-flex: 1 1 40%;
        flex: 1 1 40%;
        height: 8rem;
        margin: 0.1rem 0.1rem;
    }
    .gallery div:first-child img{
        -webkit-border-radius: 10px 0 0 0;
        -moz-border-radius: 10px 0 0 0;
        -ms-border-radius: 10px 0 0 0;
        -o-border-radius: 10px 0 0 0;
        border-radius: 10px 0 0 0;
    }
    .gallery div:nth-child(2) img{
        -webkit-border-radius: 0 10px 0 0;
        -moz-border-radius: 0 10px 0 0;
        -ms-border-radius: 0 10px 0 0;
        -o-border-radius: 0 10px 0 0;
        border-radius: 0 10px 0 0;
    }
    .gallery div:nth-child(5) img{
        -webkit-border-radius: 0 0 0 10px;
        -moz-border-radius: 0 0 0 10px;
        -ms-border-radius: 0 0 0 10px;
        -o-border-radius: 0 0 0 10px;
        border-radius: 0 0 0 10px;
    }
    .gallery div:last-child img{
        -webkit-border-radius: 0 0 10px 0;
        -moz-border-radius: 0 0 10px 0;
        -ms-border-radius: 0 0 10px 0;
        -o-border-radius: 0 0 10px 0;
        border-radius: 0 0 10px 0;
    }
}
@media (min-width:768px){
    .gallery div.gallery-image{
        -webkit-flex: 1 1 29%;
        -moz-flex: 1 1 29%;
        -ms-flex: 1 1 29%;
        -o-flex: 1 1 29%;
        flex: 1 1 29%;
        height: 10rem;
        margin: 0.1rem 0.1rem;
    }
    .gallery div:first-child img{
        -webkit-border-radius: 10px 0 0 0;
        -moz-border-radius: 10px 0 0 0;
        -ms-border-radius: 10px 0 0 0;
        -o-border-radius: 10px 0 0 0;
        border-radius: 10px 0 0 0;
    }
    .gallery div:nth-child(3) img{
        -webkit-border-radius: 0 10px 0 0;
        -moz-border-radius: 0 10px 0 0;
        -ms-border-radius: 0 10px 0 0;
        -o-border-radius: 0 10px 0 0;
        border-radius: 0 10px 0 0;
    }
    .gallery div:nth-child(4) img{
        -webkit-border-radius: 0 0 0 10px;
        -moz-border-radius: 0 0 0 10px;
        -ms-border-radius: 0 0 0 10px;
        -o-border-radius: 0 0 0 10px;
        border-radius: 0 0 0 10px;
    }
    .gallery div:last-child img{
        -webkit-border-radius: 0 0 10px 0;
        -moz-border-radius: 0 0 10px 0;
        -ms-border-radius: 0 0 10px 0;
        -o-border-radius: 0 0 10px 0;
        border-radius: 0 0 10px 0;
    }
}

/* journey section styling */
.journey{
    padding: 5rem 0;
    overflow: hidden;
}
.history-img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 22vw;
    height: 22vw;
}
.step{
    margin-bottom: 9rem;
    overflow: hidden;
}
.milestone-img{
    max-width: 22rem;
}
.timeline{
    position: relative;
    overflow: hidden;
}
@media(min-width: 768px){
    .timeline::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 1.5px;
        background-color: var(--tangerine);
        left: 50%;
    }
    .timeline .row::before{
        position: absolute;
        content: '';
        height: 1rem;
        width: 1rem;
        background: var(--tangerine);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        left: 49.5%;
    }
}

/* blog page and blogpost styling */
.sticky-top{
    padding: 5rem 4rem;
    position: sticky;
}
#main{
    padding: 5rem 0.8rem;
}
#main a, #sticky-sidebar a{
    color: var(--text-color);
}
#main a:hover, #sticky-sidebar a:hover{
    color: var(--tangerine);
}
.list-unstyled li{
    margin-bottom: 0.5rem;
}
.blog-thumbnail{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 18vw;
    height: 18vw;
}
.tangerine-bg{
    background-color: var(--tangerine);
    color: var(--primary-color);
}
.circular{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
.ad-banner{
    height: 32rem;
    width: 11rem;
    position: relative;
}
#ad-slider .item{
    height: 32rem;
    width: 11rem;
    background: no-repeat center center;
    background-size: cover;
}
#ad-slider .item img{
    width: 100%;
    height: 100%;
}
#ad-slider .item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;  
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.ad-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 32rem;
    width: 11rem;
}
.ad-caption{
    color: #fff;
}
.ad-call-out{
    color: var(--tangerine);
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.1rem;
}
.preview-img{
    width: 55rem;
    height: 25rem;
}
.comment-box:focus{
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    -ms-box-shadow: none ;
    -o-box-shadow: none ;
    box-shadow: none;
    border-color: var(--tangerine);
}
#related-posts{
    padding: 3rem 0;
}
.related-post-thumbnail{
    max-width: 10vw;
    max-height: 10vw;
}
.comment-form input{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    background: none;
}
.comment-form input:hover, .comment-form input:focus{
    -webkit-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -moz-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -ms-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -o-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    background: none;
    border-color: var(--tangerine);
}

/* Eatout outlets styling */
.outlets{
    padding: 2rem 0;
}
.outlets .row{
    margin: 10rem 0;
}

/* single product styling */
.product{
    padding: 7rem 1rem;
}
.img-col{
    position: relative;
}
.product-offer-tag{
    top: 0;
    left: 60%;
}
.product-image-wrapper{
    max-width: 25.2rem;
}
.product-variation{
    max-width: 6rem;
}
#four-items-carousel{
    padding: 0.5rem;
}
@media (min-width:768px){
    #four-items-carousel{
        padding: 0.5rem 5.5rem;
    }
    #four-items-carousel .item{
        margin: 3rem 0;
    }
}
#four-items-carousel .item{
    margin: 1rem 0;
}
#reviews-link:hover{
    color: var(--tangerine) !important;
}
@media (max-width:300px) {
    .reviews{
        flex-direction: column;
        align-items: flex-start !important;
    }
    #reviews-link{
        margin-left: 0 !important;
        margin-right: auto;
    }
}
.pizza-size-btn{
    background-color: #272727;
    color: var(--primary-color);
}
.pizza-size-btn:hover{
    background-color: var(--tangerine);
    color: var(--primary-color);
}
@media (max-width:260px) {
    .sizes{
        flex-direction: column;
    }
}
.default-radio, .default-checkbox{
    display: none;
}
.custom-radio, .custom-checkbox{
    width: 1.1em;
    height: 1.1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #272727;
    margin-right: 0.5em;
}
.custom-radio{
    padding: 2px;
}
.radio-group:hover > .custom-radio, .default-radio:checked + .custom-radio{
    border-color: var(--tangerine);
}
.checkbox-group:hover > .custom-checkbox, .default-checkbox:checked + .custom-checkbox{
    border-color: var(--tangerine);
}
.custom-radio::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--tangerine);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.custom-checkbox::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    display: inline-block;
    color: var(--tangerine);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.default-radio:checked + .custom-radio::after{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.default-checkbox:checked + .custom-checkbox::before{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.default-checkbox:checked + .custom-checkbox{
    border: 0;
}
#quantity{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    background: #dddddd;
    width: 4rem;
}
#quantity:hover, #quantity:focus{
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    -ms-box-shadow: none ;
    -o-box-shadow: none ;
    box-shadow: none ;
}
.coloured-btn:hover > .fas{
    color: var(--tangerine) !important;
}
@media (min-width:368px){
    .content-container{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
}
@media (max-width:360px){
    #prices-sect{
        display: block !important;
    }
}
.prices{
    position: relative;
}
.cross{
    width: 3.3rem;
    height: 0.05rem;
    background-color: #6c757d;
    position: absolute;
    left: -2.5%;
    top: 38%;
}
#cross-1{
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
}
#cross-2{
    -webkit-transform: rotate(345deg);
    -moz-transform: rotate(345deg);
    -ms-transform: rotate(345deg);
    -o-transform: rotate(345deg);
    transform: rotate(345deg);
}
.feedback{
    padding: 5rem 1rem;
    overflow: hidden;
}
.review-description{
    max-width: 25rem;
    padding: 0.5rem;
}
.client-review-wrapper{
    max-width: 10rem;
}
.rating i{
    color: #c0c0c0;
}
.rating i.checked{
    color: var(--tangerine);
}
.carousel-product-wrapper{
    max-width: 16rem;
}
/* end of fullmenu section styling */

/* cart section styling */
.content-container{
    padding: 4rem 0;
}
@media (min-width: 992px){
    .order-sidebar{
        position: fixed;
    }   
}
@media (max-width: 992px){
    .order-sidebar{
        position: static;
    }   
}
.rounded-input{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    border-radius: 50px;
    background: none;
}
.rounded-input:focus{
    -webkit-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -moz-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -ms-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    -o-box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    box-shadow: var(--tangerine) 0px 0px 5px -5px ;
    background: none;
    border-color: var(--tangerine);
}
#main-container{
    min-height: 22.85rem;
}
.bin i{
    cursor: pointer;
}
.bin i:hover{
    color: var(--tangerine) !important;
}
tbody .col{
    position: relative;
}
#cart-table td{
    -webkit-align-items: center !important;
    -moz-align-items: center !important;
    -ms-align-items: center !important;
    -o-align-items: center !important;
    align-items: center !important;
    padding: 1.5rem 0.5rem;
}
.cart-image-wrapper{
    max-width: 6rem;
    min-width: 6rem;
}
.cart-image{
    width: 6rem;
    height: 6rem;
}
@media (max-width:500px){
    #cart-table tr{
        border: 1px solid #dddddd;
    }
    #cart-table thead{
        display: none;
    }
    #cart-table tbody tr:not(.cart-product){
        display: block !important;
    }
    #cart-table tbody tr:not(.cart-product) td:nth-child(2){
        padding-left: 7.5rem;
    }
    #cart-table tbody td:not(.cart-product){
        padding-top: 0;
    }
    #cart-table tbody .cart-product{
        padding-bottom: 0.3rem;
    }
    .cart-image{
        -webkit-align-self: flex-start !important;
        -moz-align-self: flex-start !important;
        -ms-align-self: flex-start !important;
        -o-align-self: flex-start !important;
        align-self: flex-start !important;
    }
}
@media (max-width:330px){
    #cart-table tbody tr:not(.cart-product) td:nth-child(2){
        padding-left: 3.5rem;
    }
    td.cart-product{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column ;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
    }
    td.cart-product div{
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        text-align: center;
    }
    .cart-image{
        margin-right: 0 !important;
        -webkit-align-self: center !important;
        -moz-align-self: center !important;
        -ms-align-self: center !important;
        -o-align-self: center !important;
        align-self: center !important;
        margin-bottom: 1rem;
    }
}
@media (max-width:280px){
    #cart-table tbody tr:not(.cart-product) td:nth-child(2){
        padding-left: 2rem;
    }
}
@media (max-width:250px){
    #cart-table tbody tr:not(.cart-product) td:nth-child(2){
        padding-left: 1rem;
        text-align: center !important;
    }
}
@media (max-width:210px){
    #cart-table tbody td:not(:first-child){
        text-align: center !important;
    }
    #cart-table tbody td:not(.cart-product){
        display: block !important;
    }
}
/* checkout */
.checkout-container{
    padding: 4rem 0;
}
@media (min-width: 768px){
    .checkout-sidebar{
        position: fixed;
    }
}
@media (max-width: 768px){
    .checkout-sidebar{
        position: static;
    }   
}
@media (max-width: 310px){
    #payment-tab{
        flex-direction: column;
    }   
}
.terms-note{
    max-width: 50rem;
}
/* index page styling */
.index-banner{
    width: 100%;
    height: 100vh;
    background: url("../assets/high-resolution-pepperoni-pizza.jpg") center center / cover no-repeat;
    overflow: hidden;
}
.index-banner-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.index-banner-caption{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.site-title{
    font-size: 7rem;
}
.eatout-description{
    font-size: 1.1rem;
}
.buy-button{
    width: 15rem;
}
@media (max-width:300px) {
    .site-title{
        font-size: 4rem;
    }
    .buy-button{
        width: 10rem;
    }
}
@media (max-width:200px) {
    .site-title{
        font-size: 3rem;
    }
    .buy-button{
        width: 7rem;
    }
}
.layouts{
    overflow: hidden;
    padding: 8rem 0.5rem;
}
.layouts .row div.col-md-6{
    margin: 2rem 0;
    padding: 0.5rem 2rem;
}
.layouts img{
    -webkit-box-shadow: var(--text-color) 0px 0px 9px -4px ;
    -moz-box-shadow: var(--text-color) 0px 0px 9px -4px ;
    -ms-box-shadow: var(--text-color) 0px 0px 9px -4px ;
    -o-box-shadow: var(--text-color) 0px 0px 9px -4px ;
    box-shadow: var(--text-color) 0px 0px 9px -4px ;
}
.layouts h5{
    margin-top: 1.6rem;
}
.zoom-container{
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 2rem 3.5rem;
}
@media(max-width: 576px){
    .zoom-container{
        padding: 0.5rem 1rem;
    }
    .zoom-container img:hover{
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
        transform: scale(1.01);
    }
}
.zoom-container img{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.zoom-container img:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
@media(max-width: 576px){
    .zoom-container{
        padding: 0.5rem 1rem;
    }
    .zoom-container img:hover{
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
        transform: scale(1.03);
    }
}
/* end of single pages styling */